header {
    margin-top: 1%;
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 5rem;

    transition: background-color 0.15s, transform 0.15s;
}

.info:hover,
.info:focus {
    transform: translate(-0.15rem, -0.15rem);

    cursor: pointer;
}

.info img {
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    box-shadow: 1px 1px 4px var(--shadow-color);
}

.info h1 {
    margin-left: 0.3rem;

    user-select: text;

    color: var(--text-color1);
    text-shadow: 1px 1px 4px var(--shadow-color);
    font-size: x-large;
    font-weight: bold;
}

.header-navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-navigation__List {
    user-select: none;

    display: flex;
    align-items: center;
}

.header-navigation__Link {
    margin-right: 1rem;

    width: 6rem;
    height: 2.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--button-background-color);

    border: 3px solid var(--shadow-color);
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem var(--shadow-color);

    transition: background-color 0.15s, transform 0.15s;
}

.header-navigation__Link--selected {
    background-color: rgb(255, 153, 223);
}

.header-navigation__List li:last-child .header-navigation__Link {
    margin-right: 0;
}

.header-navigation__Link:hover,
.header-navigation__Link:focus {
    transform: translate(-0.15rem, -0.15rem);
    box-shadow: 0.15rem 0.15rem var(--shadow-color);

    cursor: pointer;
}

.header-navigation__Link:active {
    transform: translate(0.05rem, 0.05rem);
    box-shadow: 0.05rem 0.05rem var(--shadow-color);
}

.header-navigation__Link p {
    color: var(--text-color2);
    font-size: large;
    font-weight: bold;
}