@media (width >= 768px) {
    body {
        display: flex;
        flex-direction: column;

        animation: fadeIn 400ms ease;
    }

    main {
        margin-top: 4%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main__information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__information img {
        width: 10rem;
        height: 10rem;

        border-radius: 50%;
        box-shadow: 1px 1px 4px var(--shadow-color);
    }

    .main__information h1 {
        margin-top: 0.5rem;

        user-select: text;

        color: var(--text-color1);

        font-size: xx-large;
        text-shadow: 1px 1px 4px var(--shadow-color);
    }

    .main__information p {
        margin-top: 0.5rem;

        user-select: text;

        color: var(--text-color1);

        text-align: center;

        font-size: larger;
        text-shadow: 1px 1px 4px var(--shadow-color);
    }

    .main__content {
        margin-top: 1%;
    }

    .content__social-List {
        margin-top: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content__social-Link {
        margin-top: 1rem;

        width: 30rem;
        height: 4rem;

        overflow: hidden;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: var(--button-background-color);

        border: 3px solid var(--shadow-color);
        border-radius: 1.5rem;

        transition: background-color 0.2s, transform 0.3s;
    }

    .content__social-Link .external-link-icon {
        margin-left: 0.25rem;
        margin-right: 1rem;
        padding: 0.5rem;

        width: 1.5rem;
        height: 1.5rem;

        transition: transform 0.3s;
    }

    .content__social-List li:first-child .content__social-Link {
        margin-top: 0;
    }

    .content__social-Link:hover,
    .content__social-Link:focus {
        transform: translate(-0.15rem, -0.15rem);

        cursor: pointer;
    }

    .content__social-Link:hover .external-link-icon,
    .content__social-Link:focus .external-link-icon {
        transform: rotate(90deg);
    }

    .content__social-Link:active {
        transform: translate(0.05rem, 0.05rem);
    }

    .social-Link__info {
        display: flex;
        flex-direction: row;
    }

    .social-Link__info img {
        margin-right: 0.25rem;
        padding: 0.5rem;

        width: 2.5rem;
        height: 2.5rem;
    }

    .social-Link__info h2 {
        margin-bottom: 0.25rem;
        font-size: large;
        font-weight: bold;
    }

    .social-Link__info div  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}