.portfolio {

}



.home__presentation {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation__subtitle {
    padding-bottom: 1rem;

    font-size: large;
    color: #FFFFFF;
}

.presentation__title {
    font-size: xxx-large;
    color: #FFFFFF;
}

.presentation__description {
    padding-top: 1rem;

    font-size: x-large;
    color: #EC9193;
}

.home__text-color {
    color: #EC9193;
}


.home__scroll {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.scroll__button {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.scroll__title {
    font-size: larger;
    color: #FFFFFF;
}

.scroll__img {
    width: 2rem;
    height: 2rem;
}


.portfolio__about {
    height: 100vh;
}



.portfolio__projetcs {
    height: 100vh;
}