:root {
  font-family: 'Satoshi', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  height: auto;
  overflow-x: hidden;

  background: linear-gradient(180deg, #263382 0%, #1C2972 5%, #0B1733 35%, #091226 65%, #060C18 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}