@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
    font-style: italic;
}

/* Light theme selected */
:root {

}

/* Dark theme selected */
[data-theme="dark"] {

}